In [31]:
# Dependencies 
import time
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup

In [32]:
# Path to chromedriver
!which chromedriver

/usr/local/bin/chromedriver

In [33]:
# Initialize the chrome browser in splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

## NASA Mars News

In [34]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

False

In [37]:
# Get html page with the browser
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [38]:
results = soup.select_one('ul.item_list li.slide')
results.find("div", class_='content_title')

<div class="content_title"><a href="/news/8736/nasas-ingenuity-mars-helicopter-recharges-its-batteries-in-flight/" target="_self">NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight</a></div>

In [39]:
# Find the first a tag and save it as `news_title`
news_title = results.find("div", class_='content_title').get_text()
news_title

"NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight"

In [40]:
# Find the paragraph text
para = results.find('div', class_="article_teaser_body").get_text()
para

'Headed to the Red Planet with the Perseverance rover, the pioneering helicopter is powered up for the first time in interplanetary space as part of a systems check.'

## JPL Space Images Featured Image

In [41]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [42]:
# Find and click the full image button
full_image = browser.find_by_id('full_image')
full_image.click()

In [43]:
# Find the more info button and click that
browser.is_element_present_by_text('more info', wait_time=1)
more_info = browser.links.find_by_partial_text('more info')
more_info.click()

In [44]:
# Parse the resulting html with soup
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [45]:
# Find the relative image url
img_url = img_soup.select_one('figure.lede a img').get("src")
img_url

'/spaceimages/images/largesize/PIA18292_hires.jpg'

In [46]:
# Use the base url to create an url
img_url = f'https://www.jpl.nasa.gov{img_url}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA15283_hires.jpg'

## Mars Facts

In [47]:
facts = pd.read_html('http://space-facts.com/mars/')[0]
facts.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [48]:
facts.columns=['Description', 'Value']
facts.set_index('Description', inplace=True)
facts

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [49]:
 facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [50]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [51]:
# Initialize the list for the dictionary of hemisphere images 
hemisphere_image_urls = []

# List of all of the hemispheres
hem = browser.find_by_css("a.product-item h3")

# Loop through those links, click the link, find the sample anchor, return the href
for i in range(len(hem)):
    hemisphere = {}
    
    browser.find_by_css("a.product-item h3")[i].click()
    
    # Sample image anchor tag and extract the href
    sample = browser.hem.find_by_text('Sample').first
    hemisphere['image_url'] = sample['href']
    
    # Get Hemisphere title
    hemisphere['title'] = browser.find_by_css("h2.title").text
    
    # Append hemisphere object to list
    hemisphere_image_urls.append(hemisphere)

In [52]:
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]